<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_MageBehatTest2>
            <version>0.0.1</version>
        </Hackathon_MageBehatTest2>
    </modules>
    <global>
        <blocks>
            <magebehattest2>
                <class>Hackathon_MageBehatTest2_Block</class>
            </magebehattest2>
        </blocks>
    </global>
</config>